# Binaries and compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
vendor/

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db